*
{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #FCFCFC;
}
div {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

h2
{
    text-align: center;
    margin-bottom: 0;
}
h4
{
    text-align: center;
    margin: 0;
    font-size: 15px;
}
a
{
    text-decoration: none;
    color: orange;
}

a:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}